@import "_mixins";
.act-wrap{
  min-height: 100vh;
  padding-bottom: 100px;
  background: url(../img/activity/bg.jpg) center 0 no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}
.act-wrap__top h2,.icon-act-write,.icon-act-praise, .icon-act-view,
.act-module__title h3 span,.icon-act-weibo,.icon-act-wechat,
.act-side-ranking__title,{
  background: url(../img/activity/spr-act.png) no-repeat;
  background-size: 600px auto;
}
.icon-act-praise, .icon-act-view{
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-mask: url(../img/activity/spr-act.png);
  -webkit-mask-size: 600px auto;
  background: #a0a0a0;
}
.icon-act-view{
  -webkit-mask-position: -100px -80px;
}
.icon-act-praise{
  -webkit-mask-position: -40px -80px;
  .is-praised &{
    background: #eb3434;
    -webkit-mask-position: -60px -80px;
  }
}
.icon-act-write{
  display: inline-block;
    width: 22px;
    height: 26px;
    margin: 0 10px 0 0;
    background-position: 0 -80px;
    vertical-align: -2px;
}
.act-inner{
  width: 880px;
  margin: 0 auto;
}
.act-wrap__top{
  padding-top: 60px;
  color: #ffe6ce;
  height: 352px;
  h2{
    height: 70px;
    line-height: 100;
    overflow: hidden;
  }
  h3{
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
  }
  p{
    font-size: 14px;
    line-height: 22px;
  }
  .act-btn-write{
    margin-top: 20px;
    display: block;
    width: 255px;
    height: 76px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 76px;
    background: rgba(255, 36, 25,.8);  
    transition:background .2s; 
    &:hover{
      background: rgba(255, 36, 25,1);
      opacity: 1;
    }
    &.is-fixed{
      position: fixed;
      left: 0;
      top: 160px;
      width: 95px;
      height: 155px;
      padding: 60px 15px 0;
      line-height: 1.1;
      background: #a91c1c;
      border-radius: 0 10px 10px 0;
      box-sizing: border-box;
      span{
        position: relative;
        z-index: 1;
      }
      &:hover{
        .icon-act-write:before{
          animation: pen 1s both 3;
          @at-root{
            @keyframes pen{
              0%{
                transform: translate3d(0,0,0);
              }
              100%{
                transform: translate3d(30px,0,0);
              }
            }
          }
        }
      }
      &:after{
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        background: #ca2828;
        border-radius: 0 10px 10px 0;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
        content:"";
      }
      .icon-act-write{
        position: absolute;
        top: -15px;
        z-index: 2;
        width: 50px;
        height: 60px;
        background-position: -999em;
        &:before{
          display: block;
          width: 50px;
          height: 60px;
          background: url(../img/activity/spr-act.png);
          background-position: 0 -120px;
          content: "";
        }
        &:after{
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 55px;
          height: 2px;
          background: #fff;
          content: "";
        }
        
      }
    }
  }
}
/* 赛事动态 */
.act-dynamic{
  margin-top: 56px;
}
.act-dynamic__title{
  margin-bottom: 35px;
  text-align: center;
  h3{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #fee096;
    font-weight: bold;
    &:before,
    &:after{
      position: absolute;
      top: 12px;
      width: 375px;
      height: 3px;
      border-top: solid 1px #9c6a4e;
      border-bottom: solid 1px #9c6a4e;
      content:"";
    }
    &:before{
      right: 100px;
    }
    &:after{
     left: 100px;
    }
  }
}

  .art-btn-pre,
  .art-btn-next{
    position: relative;
    display: block;
    width: 34px;
    height: 162px;
    background: #272221;
    transition: background .2s;
    overflow: hidden;
    &:hover{
      background: #3f3432;
      &:before{
        border-color: #cbad90;
      }
    }
    &:before{
      position: absolute;
      width: 13px;
      height: 13px;
      top: 50%;
      margin-top: -8px;
      content:"";
    }
      
  }
  .art-btn-pre{
    margin-right: 7px;
    &:before{
      left: 50%;
      margin-left: -5px;
      border-left: solid 2px #a39b9b;
      border-bottom: solid 2px #a39b9b;
      transform: rotate(45deg);
    }
  }
  .art-btn-next{
    margin-left: 7px;
    &:before{
      right: 50%;
      margin-right: -5px;
      border-right: solid 2px #a39b9b;
      border-bottom: solid 2px #a39b9b;
      transform: rotate(-45deg);
    }

  }
.act-dynamic__content{
  position: relative;
  display: flex;
  overflow: hidden;
  .act-dynamic__video{
    display: block;
    position: relative;    
    height: 162px;
    border: solid 5px #d03d3d;
    box-sizing: border-box;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
    .time{
      position: absolute;
      right: 10px;
      bottom: 8px;
      width: 58px;
      height: 20px;
      line-height: 20px;
      color: #ddd8d8;
      text-align: center;
      border-radius: 10px;
      background: rgba(0,0,0,.7);
    }
    .number{
      position: absolute;
      right: 10px;
      bottom: 8px;
      width: 29px;
      height: 21px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      background: rgba(0,0,0,.6);
      border-radius: 2px;
    }
    .act-icon-play{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px 0 0 -20px;
      width: 40px;
      height: 40px;
      background: rgba(0,0,0,.7);
      border-radius: 50%;
      &:after{
        top: 12px;
        left: 16px;
        @include arrow(8px,11px,#d3d1d0,left);
        content:"";
      }
    }
  }
  .act-dynamic__video-title{
    display: block;
    margin-top: 5px;
    font-size: 15px;
    color: #ddd8d8;
    @include line(1);
    transition: color .2s;
    &:hover{
      color: rgba(255,255,255,.7);
    }
  }
  .act-dynamic__content-list{
    width: 798px;
    overflow: hidden;
    ul{
      
      margin-left: -15px;
      white-space: nowrap;
      font-size: 0;
    }
    li{
      display: inline-block;
      width: 256px;
      margin-left: 15px;
      font-size: 12px;
    }
  }
  
}
/* TAB切换 */
.act-tab{
  margin-top: 35px;
}
.act-tab__title{
  display: flex;
  align-items: flex-end;
  a{
    flex: 1;
    margin-left: 2px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    color: #ccbebe;
    background: #381e1e;
    &.is-current{
      
      height: 72px;
      color: #ffee9d;
      font-size: 26px;
      line-height: 72px;
      font-weight: bold;
      background: #dd4040;
    }
    &:nth-child(1){
      margin: 0;
    }
  }
}
.act-tab__content{
  padding: 30px 0 60px;
  background: #dd4040; 
}

/* 模块 */
.act-module{
  .act-module__title{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    line-height: 42px;
    text-align: center;
    h3{
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        position: relative;
        width: 124px;
        height: 40px;
        margin: 0 40px;
        line-height: 40px;
        font-size: 18px;
        color: #472424;
        background-position: -120px -120px;
      }
      &:before, &:after{
        width: 286px;
        display: inline-block;
        border-bottom: dashed 1px #fc9e9e;
        content: "";
      }
    }

  }
}

/* 奖项设置 */
.act-award{
  margin: 0 78px;
  img{
    width: auto;
  }
}

/* 赛事简介 */
.act-rule{
  margin: 0 75px;
  h4{
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
  }
  font-size: 14px;
  color: #f5c5c0;
  ul{
    margin-bottom: 20px;
  }
  li{
    line-height: 25px;
    text-indent: -1em;
    margin-left: 1em;
    a{
      font-weight: bold;
      color: #fff;
    }
  }
}
/* 赛程安排 */
.act-time{
  height: 236px;
  margin: 30px 50px 10px;
  background: #c83535;
  border-radius: 5px;
  padding-top: 140px;
  box-sizing: border-box;
  ul{
    display: flex;
    
  }
  li{
    position: relative;
    width: 25%;
    text-align: center;
    color: #fff;
    a{color: #fff;}
    &:nth-last-child(1){
      .point:after{
        display: none;
      }
    }
    &.is-active{
      .point{
        &:before{
          top: -4px;
          left: -3px;
          width: 22px;
          height: 22px;
          background: #fff7f6;
          border: solid 4px #ffaf83;
        }
        
      }
      .act-time__number{
        color: #fff;
        background-color: #ee725d;
      }
      .act-time__content{
        background: #ee725d;
        border-radius: 5px;
        color: #fde1c3;
        padding-bottom: 15px;
        .title{
          font-size: 16px;
          color: #fff;
        }
        &:after{
          position: absolute;
          left: 50%;
          margin-left: -3px;
          bottom: -5px;
          width: 10px;
          height: 10px;
          background: #ee725d;
          transform: rotate(45deg);
          content: "";
        }
      }
      color: #fcdf1f;
      a{color: #fcdf1f;}
    }
    &.is-disabled{
      .point{
        &:before{
          background: #fbb7ae;
          border:solid 2px #fe907b;
        }
        &:after{
          left: 3px;
          width: 190px;
          background: #fe907b;
        }
      }
      .act-time__number{
        color: #ef8181;
      }
      a{color: #ef8181;}
    }
  }
  .title{
    font-size: 17px;
    color: #ffbcb7;
  }
  .act-time__number{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-top: 12px;
    color: #f3b7a4;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
  }
  
  .point{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    
    &:before{
      position: absolute;
      width: 15px;
      height: 15px;
      left: 0;
      top: 0;
      z-index: 2;
      border-radius: 50%;
      box-sizing: border-box;
      background: #a42b2b;
      content: "";
    }
    &:after{
      position: absolute;
      top: 4px;
      left: 19px;
      width: 172px;
      height: 6px;
      background: #9f2929;
      content:"";
    }
  }
  .act-time__content{
    position: absolute;
    left: 12px;
    top: -110px;
    width: 166px;
    height: 95px;
    display: flex;
    padding: 0 25px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #f39e9c;
    font-size: 14px;
    box-sizing: border-box;
  }
  
}

.act-article__list,.act-article__title{
  margin: 0 48px;
}
.act-article__title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #e3cac7;
  font-size: 15px;
  .list-sequence{
    font-size: 13px;
    a{
      color: #e3cac7;
      &.is-current{
        color: #fff;
      }
    }
  }
}
.act-article__list{
  ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
  }
  li{
    width: 187px;
    height: 176px;
    margin: 0 0 20px 12px;
  }
  .act-article__list-pic{
    display: block;
    position: relative;
    height: 120px;
    overflow: hidden;
    &:before{
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 47px;
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
      content: "";
      pointer-events: none;
    }
    span{
      position: absolute;
      bottom: 5px;
      left: 10px;
      right: 10px;
      z-index: 5;
      color: #fff;
      @include line(1);
    }
  }
  .act-image{
    display: block;
    height: 100%;
    overflow: hidden;
    &:hover{
      img{
        transform: scale(1.02);
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .4s;
    }
    span{
      position: absolute;
      left: 10px;
      bottom: 5px;
      z-index: 2;
      right: 10px;
      color: #fff;
      @include line(1);
      pointer-events: none;
    }
  }
  
  
  .act-avatar{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 12px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .list-main{
    padding-left: 50px;
    height: 56px;
  }
  .main-info-title{
    padding: 3px 0;
  }
  .act-article__list-main{
    padding-top: 2px;
    display: flex;
    align-items: center;
    height: 54px;
    background: #1e1616;
    box-sizing: border-box;
  }
  .act-article__info{
    color: #a8a8a8;
    .name{
      display: inline-block;
      vertical-align: top;
      max-width: 7em;
      @include line(1);
    }
    .info{
      display: flex;
      a{
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: #a8a8a8;
      }
    }
  }
}

.act-color{
  color: #fff;
}

.act-page{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  a{
    padding: 0 15px;
    height: 38px;
    margin: 0 2px;
    text-align: center;
    color: #fad0cc;
    line-height: 38px;
    border-radius: 2px;
    border: solid 1px #f46e6e;
    &.is-current{
      color: #000;
      background: #fd9393;
      border-color: #fd9393;
    }
  }  
  span{
    margin: 0 10px;
    line-height: 32px;
    color: #fad0cc;
  }   
}
.art-media{
  margin: 0 48px;
  ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
  li{
    width: 176px;
    height: 82px;
    margin: 0 0 25px 15px;
    border: solid 4px #ac2a2a;
    a{
      display: block;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.art-more{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 38px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #fee6e0;
  line-height: 38px;
  background: #be3737;
  border-radius: 20px;
  .art-more__item{
   position: relative; 
   display: flex;
   align-items: center;
   &:hover{
    .art-more__code{
      display: block;
    }
   }
  }
  .art-more__code{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 35px;
    width: 200px;
    height: 200px;
    padding: 0 30px;
    background: #fff;
    box-sizing: border-box;
    border: solid 1px #d9d9d9;
    p{
      line-height: 38px;
      color: #808080;
    }
    &:after{
      position: absolute;
      width: 10px;
      height: 10px;
      left: 50%;
      margin-left: -4px;
      bottom: -6px;
      background: #fff;
      border-left: solid 1px #d9d9d9;
      border-bottom: solid 1px #d9d9d9;
      transform: rotate(-45deg);
      content:"";
    }
  }
}
.icon-act-weibo,.icon-act-wechat{
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0 -5px 0 5px;
}
.icon-act-weibo{
  background-position: -80px -260px;
}
.icon-act-wechat{
  background-position: -120px -260px;
}

.act-detail{
  margin: 0 50px;
  color: #fcded6;
  font-size: 16px;
  line-height: 30px;
  h4{
    color: #fef2eb;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px -5px;
  }
  li{
    margin-left: 1em;
    text-indent: -1em;
    a{
      color: #ffe981;
    }
  }
  span{
    color: #ffe981;
  }
}
.act-tips{
  margin-top: 24px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #fbdfb6;
  text-align: center;
  line-height: 20px;
}

.act-judge{
  margin: 0 50px;
  ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
  }
  li{
    width: 136px;
    margin: 0 0 25px 25px;
  }
  .act-judge__avatar{
    display: block;
    height: 160px;
    border: solid 3px #fcac80;
    outline: solid 1px #fed9ac;
    box-sizing: border-box;
    img{
      height: 100%;
      border: solid 1px #8a2020;
      box-sizing: border-box;
    }
  }
  .name{
    display: block;
    margin: 12px 0 8px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  p{
    color: #e3beb6;
    text-align: center;
    font-size: 13px;
  }
}

/* 排行榜 */
.act-side-ranking{
  width: 244px;
  height: 340px;
  position: fixed;
  top: 0;
  right: 0;
  background: #291a19;
  border-radius: 10px 0 0 10px;
  .act-side-ranking__main{
    margin: 15px 2px 15px 10px;
    border: solid 1px #3f2c2a;
    border-radius: 10px 0 0 10px;
  }
  .act-side-ranking__title{
    height: 25px;
    line-height: 100;
    overflow: hidden;
    background-position: -999em;
  }
  .act-side-ranking__list{
    ul{
      height: 290px;
      overflow: auto;
      @include scrollbar();
    }
    li{
      display: flex;
      align-items: center;
      height: 40px;
      margin: 7px 0;
      color: #ffe0c7;
      font-size: 14px;
    }
    .badge{
      width: 35px;
      height: 35px;
      
      img{
        border-radius: 50%;
        border: solid 2px #6f514f;
      }
    }
    .number{
      width: 18px;
      height: 18px;
      margin: 0 14px;
      background: #ffbc9f;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      font-size: 12px;
      color: #6d130c;
    }
    .name{
      max-width: 10em;
      @include line(1);
    }
  }
} 

/* 推荐电影 */
.act-recommend{
  margin: 0 50px;
}
.act-recommend__title{
  display: flex;
  margin-bottom: 20px;
  a{
    width: 85px;
    height: 25px;
    line-height: 25px;
    color: #ffeed3;
    text-align: center;
    border-radius: 13px;
    &:hover{
      color: #fff;
    }
    &.is-current{
      color: #fff;
      background: #9e1327;
    }
  }
  
}
.act-recommend__list{
  ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -19px;
  }
  li{
    width: 180px;
    margin: 0 0 10px 19px;
  }
  .act-recommend__list-pic{
    display: block;
    height: 230px;
    
    border: solid 5px #f97564;
    box-sizing: border-box;
    border-radius: 4px;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid 1px #8d291c;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  .name{
    display: block;
    line-height: 38px;
    color: #f1e2da;
    @include line(1);
  }
}
