
@font-face {font-family: "icon-mac-video";
  src: url("../font/icon-mac-video.woff?t=1520924433403") format("truetype"); 
}

.icon-mac-video {
  font-family:"icon-mac-video" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before { content: "\e6ef"; }

.icon-triangle:before { content: "\e6f0"; }

.icon-windows:before { content: "\e6f1"; }

.icon-apple:before { content: "\e6f2"; }

.icon-note:before { content: "\e6f3"; }

.icon-square:before { content: "\e6f4"; }

.icon-arrow-right:before { content: "\e6f5"; }

.icon-arrow-left:before { content: "\e6f6"; }

.icon-square1:before { content: "\e6f7"; }

.icon-triangle1:before { content: "\e6f8"; }

.icon-circle1:before { content: "\e6f9"; }

