/* scrollbar */
/* BEM */
:root {
  --color-primary:#69f;
  --color-chart-line: rgba(255,255,255,.5); }

.ico-d-open, .ico-d-play, .ico-d-delete, .ico-d-redo, .ico-d-down, .ico-o-more, .ico-o-open, .ico-o-play, .ico-o-playnow, .ico-o-down, .ico-o-delete, .ico-o-redo, .ico-d-play, .ico-o-pause, .ico-d-note, .ico-o-share {
  background: url(../img/spr-data.png) no-repeat; }

.chart-box {
  height: 100%;
  background: linear-gradient(to right, #dff6fe, #e8e9fe);
  border-radius: 5px;
  position: relative; }
  .chart-box:hover .data-info-main {
    display: none; }
  .chart-box:hover .data-info-des {
    display: flex; }

.data-chart {
  position: relative;
  z-index: 1;
  height: 100%; }

.file-info {
  margin: 0 15px;
  position: relative; }
  .file-info .file-name {
    display: flex;
    align-items: center;
    height: 46px;
    flex: 1;
    width: 100%; }
  .file-info .text-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    max-width: calc(100% - 180px);
    font-size: 13px;
    color: #718bb1; }
  .file-info .ico-file {
    margin: 0 8px 0 0; }
  .file-info .file-opt {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: flex-end;
    z-index: 2; }
  .file-info .btn-delete {
    border: solid 1px #69f;
    border-radius: 12px;
    width: 52px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #69f; }
    .file-info .btn-delete:hover {
      background: #69f;
      color: #fff; }
  .file-info .link {
    color: #69f;
    margin-left: 3px; }

.ico-o-open, .ico-o-more {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 0 0 15px; }

.ico-o-open {
  background-position: 0 -20px; }
  .ico-o-open:hover {
    background-position: -20px -20px; }

.ico-o-more {
  background-position: -40px -20px; }
  .ico-o-more:hover {
    background-position: -60px -20px; }

.ico-o-play, .ico-o-pause, .ico-o-playnow, .ico-o-down, .ico-o-delete, .ico-o-redo {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 0 0 0 12px; }

.ico-o-playnow {
  background-position: 0 -40px; }
  .ico-o-playnow:hover {
    background-position: -30px -40px; }

.ico-o-pause {
  background-position: -60px -40px; }
  .ico-o-pause:hover {
    background-position: -90px -40px; }

.ico-o-play {
  background-position: -120px -40px; }
  .ico-o-play:hover {
    background-position: -150px -40px; }

.ico-o-down {
  background-position: -180px -40px; }
  .ico-o-down:hover {
    background-position: -210px -40px; }

.ico-o-delete {
  background-position: -240px -40px; }
  .ico-o-delete:hover {
    background-position: -270px -40px; }

.ico-o-redo {
  background-position: -300px -40px; }
  .ico-o-redo:hover {
    background-position: -330px -40px; }

.ico-o-share {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 0 0 12px;
  background-position: -80px -20px; }
  .ico-o-share:hover {
    background-position: -100px -20px; }

.canvas-box {
  position: relative;
  z-index: 1;
  height: calc(100% - 90px); }
  .canvas-box:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background: repeating-linear-gradient(transparent, transparent 24px, var(--color-chart-line) 24px, var(--color-chart-line) 25px); }
  .canvas-box .canvas-data {
    position: relative;
    z-index: 2; }

.canvas-box.finish {
  opacity: .3; }

.data-show {
  position: absolute;
  color: var(--color-primary);
  z-index: 3; }
  .data-show .point {
    position: relative;
    z-index: 6;
    width: 7px;
    height: 7px;
    margin: -4px 0 0 -5px;
    border-radius: 50%;
    border: solid 1px var(--color-primary);
    background: #fff; }
  .data-show .text-data {
    position: absolute;
    left: 13px;
    bottom: -7px;
    width: 72px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
    .data-show .text-data.is-left {
      left: auto;
      right: 13px; }
    .data-show .text-data.is-left-ani {
      left: auto;
      right: 35px; }
    .data-show .text-data.is-right-ani {
      left: 24px; }
  .data-vip {
    color: #ff4848; }
    .data-vip .point {
      border-color: #fe4e4f; }

.data-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 40px;
  color: #718bb1;
  font-size: 13px; }
  .data-info .line {
    display: block;
    width: 1px;
    height: 11px;
    background: #c6d3ee;
    margin: 0 12px; }
  .data-info .data-info-main, .data-info .data-info-des {
    display: flex;
    justify-content: center;
    align-items: center; }
  .data-info .data-info-des {
    display: none; }
  .data-info .label-color {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: -1px; }
  .data-info .color-all {
    background-image: linear-gradient(45deg, #46adff, #a687ff); }
  .data-info .color-vip {
    background-image: linear-gradient(45deg, #bda3fe, #fc75db); }

.data-tips {
  position: absolute;
  width: 70px;
  height: 24px;
  line-height: 24px;
  border-radius: 3px;
  text-align: center;
  color: #718bb1;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 8px 0px rgba(147, 151, 178, 0.22);
  z-index: 4; }
  .data-tips:after {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border-style: dashed;
    border-color: transparent;
    border-width: 6px 5px;
    border-top-color: #fff;
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    margin-left: -4px; }

.data-note {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: -20px 0 0;
  line-height: 40px;
  font-size: 15px;
  color: #ff8a00;
  text-align: center; }
  .data-note p {
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px; }

.ico-d-note {
  width: 20px;
  height: 20px;
  background-position: 0 -80px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 2px 0; }

.ico-d-open, .ico-d-play, .ico-d-delete, .ico-d-redo, .ico-d-down {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 8px 0 0; }

.ico-d-open {
  background-position: 0 0; }

.ico-d-play {
  background-position: -20px 0; }

.ico-d-delete {
  background-position: -40px 0; }

.ico-d-redo {
  background-position: -60px 0; }

.ico-d-down {
  background-position: -80px 0; }

.btn-data-wp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 96px);
  top: 48px; }
  .btn-data-wp .btn-opt {
    height: 34px;
    border-radius: 16px;
    background-color: rgba(102, 153, 255, 0.8);
    box-shadow: 0px 2px 8px 0px rgba(41, 159, 255, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    z-index: 3;
    padding: 0 24px;
    transition: .2s; }
    .btn-data-wp .btn-opt:hover {
      background: #69f; }
  .btn-data-wp .txt-tips {
    top: 50%;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    color: #ff8a00;
    position: absolute;
    font-size: 13px;
    z-index: 3; }

.xlx-data-ani {
  position: absolute;
  margin: -34px 0 0 -34px;
  z-index: 5;
  width: 60px;
  height: 60px;
  transform: scale(0.7); }
  .xlx-data-ani .xlx-data-type {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3; }
    .xlx-data-ani .xlx-data-type:after {
      display: block;
      width: 100%;
      height: 100%;
      background: url(../img/spr-data-ani.png) -999em no-repeat;
      content: ""; }
    .xlx-data-ani .xlx-data-type.is-speed1:after {
      animation: speed1 1s 0.3s steps(25) infinite; }
    .xlx-data-ani .xlx-data-type.is-speed2:after {
      animation: speed2 1s 0.3s steps(25) infinite; }
    .xlx-data-ani .xlx-data-type.is-speed4:after {
      animation: speed4 1s 0.3s steps(25) infinite; }
    .xlx-data-ani .xlx-data-type.is-speed3:after {
      animation: speed3 1s 0.3s steps(25) infinite; }
    .xlx-data-ani .xlx-data-type.is-scale {
      animation: scale 1s both; }
@keyframes speed1 {
  0% {
    background-position: 0 -180px; }
  100% {
    background-position: -1500px -180px; } }
@keyframes speed2 {
  0% {
    background-position: 0 -120px; }
  100% {
    background-position: -1500px -120px; } }
@keyframes speed4 {
  0% {
    background-position: 0 -60px; }
  100% {
    background-position: -1500px -60px; } }
@keyframes speed3 {
  0% {
    background-position: 0 -240px; }
  100% {
    background-position: -1500px -240px; } }
@keyframes bomb {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1500px 0; } }
@keyframes scale {
  0%,100% {
    transform: scale(1); }
  50% {
    transform: scale(0); } }
  .xlx-data-ani .xlx-data-bomb {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url(../img/spr-data-ani.png) -999em no-repeat;
    animation: bomb 1s steps(25); }

/*# sourceMappingURL=data.css.map */
