.chart-box .xlx-icon-type {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url(../img/xlx-icon-24x24.png) -999em no-repeat;
  background-image: -webkit-image-set(url(../img/xlx-icon-24x24.png) 1x, url(../img/xlx-icon-24x24-x2.png) 2x); }
.chart-box .xlx-icon-type-apk {
  background-position: 0 0; }
.chart-box .xlx-icon-type-avi {
  background-position: -20px 0; }
.chart-box .xlx-icon-type-bt {
  background-position: -40px 0; }
.chart-box .xlx-icon-type-bt-file {
  background-position: -60px 0; }
.chart-box .xlx-icon-type-chm {
  background-position: -80px 0; }
.chart-box .xlx-icon-type-doc {
  background-position: -100px 0; }
.chart-box .xlx-icon-type-exe {
  background-position: -120px 0; }
.chart-box .xlx-icon-type-install {
  background-position: -140px 0; }
.chart-box .xlx-icon-type-flv {
  background-position: -160px 0; }
.chart-box .xlx-icon-type-ipa {
  background-position: -180px 0; }
.chart-box .xlx-icon-type-ipsw {
  background-position: -200px 0; }
.chart-box .xlx-icon-type-iso {
  background-position: -220px 0; }
.chart-box .xlx-icon-type-mkv {
  background-position: -240px 0; }
.chart-box .xlx-icon-type-mov {
  background-position: -260px 0; }
.chart-box .xlx-icon-type-mp4 {
  background-position: -280px 0; }
.chart-box .xlx-icon-type-mpg {
  background-position: -300px 0; }
.chart-box .xlx-icon-type-music {
  background-position: -320px 0; }
.chart-box .xlx-icon-type-unknown {
  background-position: -340px 0; }
.chart-box .xlx-icon-type-pdf {
  background-position: -360px 0; }
.chart-box .xlx-icon-type-pic {
  background-position: -380px 0; }
.chart-box .xlx-icon-type-ppt {
  background-position: -400px 0; }
.chart-box .xlx-icon-type-rar {
  background-position: -420px 0; }
.chart-box .xlx-icon-type-rm {
  background-position: -440px 0; }
.chart-box .xlx-icon-type-rmvb {
  background-position: -460px 0; }
.chart-box .xlx-icon-type-group {
  background-position: -480px 0; }
.chart-box .xlx-icon-type-txt {
  background-position: -500px 0; }
.chart-box .xlx-icon-type-video {
  background-position: -520px 0; }
.chart-box .xlx-icon-type-web {
  background-position: -540px 0; }
.chart-box .xlx-icon-type-wmv {
  background-position: -560px 0; }
.chart-box .xlx-icon-type-word {
  background-position: -580px 0; }
.chart-box .xlx-icon-type-xls {
  background-position: -600px 0; }
