@charset "UTF-8";
/* scrollbar */
/* BEM */
.xlx-comment .xlx-comment-main {
  display: flex;
  margin-bottom: 35px; }
.xlx-comment .xlx-comment__image {
  width: 42px;
  height: 42px;
  margin-right: 22px; }
  .xlx-comment .xlx-comment__image img {
    width: 100%;
    border-radius: 50%; }
.xlx-comment .xlx-comment__write {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  border: solid 1px var(--color-detail-line);
  box-sizing: border-box; }
  .xlx-comment .xlx-comment__write .td-textarea {
    width: calc(100% - 60px); }
    .xlx-comment .xlx-comment__write .td-textarea .td-textarea__inner {
      width: 100%;
      height: 30px;
      overflow: hidden;
      background: transparent;
      transition: .2s; }
  .xlx-comment__oprate {
    height: 30px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px; }
    .xlx-comment__oprate .xlx-comment__line {
      width: 1px;
      height: 11px;
      margin: 0 12px;
      background: var(--color-detail-line); }
    .xlx-comment__oprate .xlx-button-sumbit {
      color: #7698b7; }
      .xlx-comment__oprate .xlx-button-sumbit:hover {
        color: var(--color-primary); }
      .xlx-comment__oprate .xlx-button-sumbit:active {
        color: var(--color-primary-hover); }
      .xlx-comment__oprate .xlx-button-sumbit.is-disabled {
        color: var(--color-primary-gray-2);
        cursor: default; }
  .xlx-comment .xlx-comment__write.is-focus {
    display: block;
    text-align: right; }
    .xlx-comment .xlx-comment__write.is-focus .td-textarea {
      width: 100%;
      display: block; }
    .xlx-comment .xlx-comment__write.is-focus .td-textarea__inner {
      width: 100%;
      height: 40px;
      overflow: auto; }
  .xlx-comment .xlx-comment__write .td-textarea__inner {
    border: 0; }

.xlx-comment-list__item {
  display: flex;
  margin-bottom: 20px; }
  .xlx-comment-list__item .xlx-comment-list__speed {
    margin-left: 8px;
    color: var(--color-detail-primary); }
    .xlx-comment-list__item .xlx-comment-list__speed.is-fast {
      color: var(--color-warn-1); }
  .xlx-comment-list__item.is-hot .xlx-comment__content {
    border-color: #ffd4d4; }
  .xlx-comment-list__item.is-hot .xlx-comment-list__praise {
    color: var(--color-danger-1); }

.xlx-comment-list__content {
  padding-bottom: 20px;
  flex: 1;
  width: calc(100% - 64px);
  border-bottom: solid 1px var(--color-detail-line); }
  .xlx-comment-list__content .xlx-comment-list__delete {
    display: none; }
  .xlx-comment-list__content:hover .xlx-comment-list__delete {
    display: inline-block; }
  .xlx-comment-list__header {
    display: flex;
    align-items: center;
    margin-bottom: 14px; }
    .xlx-comment-list__header .xlx-comment-list__user-name {
      margin-right: 5px;
      color: #667f97; }
      .xlx-comment-list__header .xlx-comment-list__user-name.is-vip {
        color: var(--color-danger-1); }

  .xlx-comment-list__body {
    margin-bottom: 14px;
    line-height: 16px; }
    .xlx-comment-list__body .xlx-comment-list__text {
      word-wrap: break-word;
      white-space: pre-wrap; }
    .xlx-comment-list__body .xlx-comment-list__quote {
      position: relative;
      padding: 10px;
      margin-top: 14px;
      background: #f5f5f5;
      border-radius: 5px;
      color: var(--color-detail-primary); }
    .xlx-comment-list__body .xlx-comment-list__quote-text {
      word-wrap: break-word;
      white-space: pre-wrap; }

  .xlx-comment-list__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 14px; }
    .xlx-comment-list__information {
      color: var(--color-detail-primary); }

    .xlx-comment-list__operate a {
      margin-left: 20px;
      transition: .2s; }
      .xlx-comment-list__operate a:hover {
        color: var(--color-primary); }
    .xlx-comment-list__operate .xlx-comment-list__praise.is-animation {
      position: relative; }
      .xlx-comment-list__operate .xlx-comment-list__praise.is-animation:before {
        position: absolute;
        top: -13px;
        right: 0;
        content: "+1";
        animation: praise-add .8s both; }
@keyframes praise-add {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0; }
  40%,60% {
    transform: translate3d(0, -5px, 0);
    opacity: 1; }
  100% {
    transform: translate3d(0, -10px, 0);
    opacity: 0; } }
    .is-active.xlx-comment-list__praise {
      color: var(--color-primary); }
    .is-active.xlx-comment-list__comment {
      color: var(--color-primary); }

    .is-hot .is-active.xlx-comment-list__praise {
      color: var(--color-danger-1); }
  .xlx-comment-list__footer .xlx-comment__write {
    margin-top: 14px; }

.xlx-comment-fast {
  padding-left: 64px; }
  .xlx-comment-fast .xlx-comment-fast__title-text {
    display: flex;
    align-items: center;
    color: var(--color-detail-primary); }
  .xlx-comment-fast .xlx-comment-fast__refresh {
    color: var(--color-primary); }
  .xlx-comment-fast .xlx-comment-fast__content {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 -10px; }
  .xlx-comment-fast .xlx-comment-fast__item {
    display: inline-block;
    margin: 0 0 10px 10px;
    padding: 0 10px;
    line-height: 30px;
    border: solid 1px var(--color-detail-line);
    border-radius: 4px;
    transition: .2s; }
    .xlx-comment-fast .xlx-comment-fast__item:hover {
      border-color: var(--color-primary); }

.td-pagination {
  margin-left: 64px; }

/* 表情 */
.xlx-face {
  position: relative; }
  .xlx-face .xlx-face__icon {
    color: #7698b7; }
    .xlx-face .xlx-face__icon:hover {
      color: var(--color-primary); }
    .xlx-face .xlx-face__icon:active {
      color: var(--color-primary-hover); }

.xlx-face-emoji {
  position: absolute;
  z-index: 99;
  width: 200px;
  padding: 10px 6px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=xlx-comment.css.map */
