@charset "UTF-8";
/* scrollbar */
/* BEM */
.td-dialog.xlx-dialog--large {
  width: 460px; }

.td-dialog.xlx-dialog--small {
  width: 300px; }

.xlx-dialog .td-dropdown-group .td-button:nth-child(1) {
  text-indent: 3em; }

.td-textarea__inner {
  white-space: nowrap;
  height: 90px; }

.xlx-dialog__down {
  margin-bottom: 20px; }
  .xlx-dialog__down .td-textarea__inner {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

.xlx-dialog__down-info {
  position: relative;
  background: #fff;
  border: solid 1px #ccc;
  border-top-width: 0;
  border-radius: 0 0 4px 4px; }
  .xlx-dialog__down-info::-webkit-scrollbar {
    width: 4px; }
    .xlx-dialog__down-info::-webkit-scrollbar:horizontal {
      height: 4px; }
    .xlx-dialog__down-info::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 4px;
      background: #e6e6e6; }
    .xlx-dialog__down-info::-webkit-scrollbar-corner {
      background: #fff; }
    .xlx-dialog__down-info::-webkit-scrollbar-track {
      background: #fff; }
      .xlx-dialog__down-info::-webkit-scrollbar-track-piece {
        background: #fff;
        width: 4px; }
  .xlx-dialog__down-info .xlx-dialog__down-info-name, .xlx-dialog__down-info .xlx-dialog__down-info-type, .xlx-dialog__down-info .xlx-dialog__down-info-size {
    padding-left: 6px;
    box-sizing: border-box; }
  .xlx-dialog__down-info .xlx-dialog__down-info-name {
    display: flex;
    align-items: center;
    width: calc(100% - 130px); }
    .xlx-dialog__down-info .xlx-dialog__down-info-name .td-checkbox {
      overflow: hidden; }
  .xlx-dialog__down-info .xlx-dialog__down-info-type {
    width: 48px; }
  .xlx-dialog__down-info .xlx-dialog__down-info-size {
    width: 82px;
    position: relative; }
  .xlx-dialog__down-info .file-choose {
    position: absolute;
    top: 8px;
    right: 3px;
    width: 15px;
    height: 15px;
    line-height: 15px; }

.xlx-dialog__down--tasks .xlx-dialog__down-info {
  border-top-width: 1px;
  border-radius: 4px; }
  .xlx-dialog__down--tasks .xlx-dialog__down-info .xlx-dialog__down-info-name {
    width: calc(100% - 220px); }
.xlx-dialog__down--tasks .xlx-dialog__down-unordered {
  min-height: 90px; }
.xlx-dialog__down--tasks .xlx-dialog__down-info-url {
  position: relative;
  width: 76px;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; }

.xlx-dialog__down-tasks {
  margin-bottom: 20px;
  border-radius: 4px;
  border: solid 1px #ccc; }
  .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 58px;
    overflow-y: auto;
    padding: 0 3px 10px; }
    .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list::-webkit-scrollbar {
      width: 4px; }
      .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list::-webkit-scrollbar:horizontal {
        height: 4px; }
      .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list::-webkit-scrollbar-thumb {
        border-radius: 2px;
        width: 4px;
        background: #e6e6e6; }
      .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list::-webkit-scrollbar-corner {
        background: #fff; }
      .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list::-webkit-scrollbar-track {
        background: #fff; }
        .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list::-webkit-scrollbar-track-piece {
          background: #fff;
          width: 4px; }
    .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list a {
      width: 46px;
      height: 18px;
      margin: 10px 3px 0;
      line-height: 18px;
      color: var(--color-primary);
      text-align: center;
      border-radius: 3px;
      border: solid 1px var(--color-primary); }
      .xlx-dialog__down-tasks .xlx-dialog__down-tasks-list a.is-disabled {
        color: var(--color-primary-gray-2);
        border-color: currentColor; }
  .xlx-dialog__down-tasks .xlx-dialog__down-tasks-size {
    height: 30px;
    text-indent: 5px;
    line-height: 30px;
    background: #f5f5f5;
    border-radius: 0 0 4px 4px; }

.xlx-dialog__down-task-group {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 8px; }
  .xlx-dialog__down-task-group .td-checkbox__label {
    max-width: 14em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; }
  .xlx-dialog__down-task-group .td-input__inner {
    width: 160px;
    margin-left: 6px; }
  .xlx-dialog__down-task-group .xlx-dialog__down-text {
    position: absolute;
    right: 8px;
    color: var(--color-primary-gray-2); }

.xlx-operate {
  display: flex;
  padding-top: 20px;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 1; }
  .xlx-operate.xlx-operate--right .xlx-operate__button {
    margin-left: 26px; }
  .xlx-operate.xlx-operate--between {
    justify-content: space-between; }
  .xlx-operate .xlx-operate__button {
    color: var(--color-primary); }
    .xlx-operate .xlx-operate__button:hover {
      color: var(--color-primary-hover); }
  .xlx-operate .xlx-operate__button--secondary {
    color: var(--color-link); }

.xlx-dialog__down-info-title {
  display: flex;
  height: 20px;
  padding-right: 6px;
  color: var(--color-primary-gray-2);
  line-height: 20px;
  box-sizing: border-box; }
  .xlx-dialog__down-info-title .xlx-dialog__down-info-name {
    border-right: solid 1px var(--color-primary-gray-2); }

.xlx-dialog__down-info-content {
  position: relative;
  padding-bottom: 8px; }

.xlx-dialog__down-unordered {
  max-height: 120px;
  overflow-y: scroll; }
  .xlx-dialog__down-unordered::-webkit-scrollbar {
    width: 4px; }
    .xlx-dialog__down-unordered::-webkit-scrollbar:horizontal {
      height: 4px; }
    .xlx-dialog__down-unordered::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 4px;
      background: #e6e6e6; }
    .xlx-dialog__down-unordered::-webkit-scrollbar-corner {
      background: #fff; }
    .xlx-dialog__down-unordered::-webkit-scrollbar-track {
      background: #fff; }
      .xlx-dialog__down-unordered::-webkit-scrollbar-track-piece {
        background: #fff;
        width: 4px; }

.xlx-dialog__down-item {
  display: flex;
  height: 30px;
  line-height: 30px; }
  .xlx-dialog__down-item .td-checkbox__label {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; }
  .xlx-dialog__down-item .td-select {
    display: inline-block;
    width: calc(100% - 24px);
    margin: 0 0 0 3px; }
  .xlx-dialog__down-item .td-select-group {
    height: 30px; }

.td-dialog .xlx-file-size {
  margin-right: 4px;
  color: var(--color-primary-gray-2); }
  .td-dialog .xlx-file-size.is-danger {
    color: var(--color-danger-1); }
  .td-dialog .xlx-file-size.is-warn {
    color: var(--color-warn-1); }

/* 弹出设置层 */
.xlx-dialog__settings {
  position: absolute;
  width: 340px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.xlx-bt-setting {
  background: #fff; }
  .xlx-bt-setting .xlx-bt-setting__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px; }
  .xlx-bt-setting__number {
    display: inline-block;
    margin-left: 18px;
    color: var(--color-primary-gray-1); }
    .xlx-bt-setting__number .td-input__inner {
      width: 50px; }
  .xlx-bt-setting .xlx-form {
    display: inline-block; }
    .xlx-bt-setting .xlx-form .td-input__inner {
      width: 50px; }
    .xlx-bt-setting .xlx-form .td-input__label {
      margin-left: 7px; }

.xlx-dialog__input .td-input {
  display: flex;
  align-items: center; }
.xlx-dialog__input .td-input__inner {
  flex: 1; }

.xlx-bt-setting--popup {
  width: calc(100% + 2px);
  position: absolute;
  top: 20px;
  left: -1px;
  z-index: 2;
  padding: 12px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.xlx-resource {
  position: relative;
  display: flex;
  height: 32px;
  margin-bottom: 20px; }
  .xlx-resource > .td-input {
    margin: 2px 0 0 8px; }
    .xlx-resource > .td-input .td-input__inner {
      width: 230px; }
  .xlx-resource .xlx-resource__text {
    margin-left: 12px; }
    .xlx-resource .xlx-resource__text.is-warn {
      color: var(--color-danger-1); }
  .xlx-resource .xlx-resource__size {
    position: absolute;
    right: 0;
    line-height: 32px;
    color: var(--color-primary-gray-2); }
  .xlx-resource .xlx-resource__name {
    display: flex;
    align-items: center;
    line-height: 32px; }
  .xlx-resource .xlx-resource__text {
    max-width: 18em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; }
  .xlx-resource .xlx-resource__operate {
    position: absolute;
    right: 0; }
    .xlx-resource .xlx-resource__operate .td-button {
      width: 60px; }
  .xlx-resource .td-select {
    margin-top: 2px;
    margin-left: 8px; }
  .xlx-resource .td-select-group {
    width: 230px;
    height: 30px; }

.xlx-resource__rename {
  display: inline-flex;
  align-items: center;
  margin-left: 2px;
  width: 16px;
  height: 17px;
  color: var(--color-primary-gray-2); }
  .xlx-resource__rename:hover {
    color: var(--color-primary-hover); }

.xlx-dialog__column-1 {
  width: 65px; }

.xlx-dialog__column-2 {
  width: 75px; }

.xlx-dialog__down-info .td-table {
  background: #fff;
  border: 0; }
.xlx-dialog__down-info .td-table th {
  height: 20px;
  border-bottom: 0; }
  .xlx-dialog__down-info .td-table th:nth-child(2) {
    border-left: solid 1px #ccc; }
.xlx-dialog__down-info .xlx-dialog__down-item:hover {
  background: var(--background-hover); }
.xlx-dialog__down-info .td-table td {
  height: 28px;
  border-bottom: 0; }
.xlx-dialog__down-info .td-table-tree .td-tree-node__label {
  height: 25px;
  line-height: 25px; }
.xlx-dialog__down-info .td-table__header-wrapper {
  margin-right: 6px; }
.xlx-dialog__down-info .td-table__body-wrapper {
  height: 180px; }

/* 设置中心弹窗 */
.xlx-dialog-setting .xlx-dialog-setting__form {
  margin-top: 10px; }
.xlx-dialog-setting .xlx-dialog-setting__item {
  margin-bottom: 10px; }
  .xlx-dialog-setting .xlx-dialog-setting__item .xlx-setting-content__horizontal {
    display: inline-flex; }
.xlx-dialog-setting .xlx-setting__input-1 .td-input__inner {
  width: 280px; }
.xlx-dialog-setting .xlx-setting__input-2 .td-input__inner {
  width: 80px;
  margin-right: 20px; }
.xlx-dialog-setting .xlx-setting__input-3 .td-input__inner {
  width: 60px; }
.xlx-dialog-setting .xlx-dialog-setting__tips {
  margin-bottom: 5px;
  color: #999;
  line-height: 20px; }
.xlx-dialog-setting .td-textarea__inner {
  height: 185px;
  white-space: pre-wrap; }
.xlx-dialog-setting .xlx-dialog-setting__label {
  display: inline-block;
  width: 55px; }
.xlx-dialog-setting .td-input__inner::-webkit-input-placeholder {
  color: #666; }
.xlx-dialog-setting .td-radio {
  margin-right: 20px; }
.xlx-dialog-setting .td-button--small {
  width: 65px; }

.xlx-dialog-setting__speed .xlx-dialog-setting__item {
  margin-bottom: 25px; }

.xlx-dialog-setting__speed-time {
  margin-top: 10px; }
  .xlx-dialog-setting__speed-time .xlx-dialog-setting__item {
    margin-bottom: 10px; }

.xlx-dialog-setting__speed-content {
  margin: 15px 0 0 20px;
  display: flex;
  justify-content: space-between; }
  .xlx-dialog-setting__speed-content .td-slider {
    width: 260px; }

.xlx-dialog-setting__option {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  vertical-align: middle; }
  .xlx-dialog-setting__option .td-select-group {
    margin-right: 5px; }

.xlx-dialog__button {
  display: flex; }
  .xlx-dialog__button .td-button--secondary {
    margin-left: 12px; }

/* 确认框 */
.xlx-dialog__confirm-icon {
  width: 32px;
  height: 32px;
  font-size: 32px; }

/* bt 任务 */
.xlx-dialog-bt .xlx-resource .xlx-resource__text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.3; }
.xlx-dialog-bt .td-textarea {
  width: 230px;
  margin-left: 12px; }
  .xlx-dialog-bt .td-textarea .td-textarea__inner {
    height: 40px;
    white-space: pre-wrap;
    line-height: 15px;
    padding: 3px 5px; }

/* 播放任务 */
.xlx-dialog__play-list {
  padding: 3px 0;
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 148px;
  overflow-x: auto; }
  .xlx-dialog__play-list::-webkit-scrollbar {
    width: 4px; }
    .xlx-dialog__play-list::-webkit-scrollbar:horizontal {
      height: 4px; }
    .xlx-dialog__play-list::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 4px;
      background: #e6e6e6; }
    .xlx-dialog__play-list::-webkit-scrollbar-corner {
      background: #fff; }
    .xlx-dialog__play-list::-webkit-scrollbar-track {
      background: #fff; }
      .xlx-dialog__play-list::-webkit-scrollbar-track-piece {
        background: #fff;
        width: 4px; }
  .xlx-dialog__play-list ul {
    display: inline-block; }
    .xlx-dialog__play-list ul li {
      display: inline-block;
      min-width: 100%;
      padding-left: 8px;
      line-height: 28px;
      white-space: nowrap;
      box-sizing: border-box; }
      .xlx-dialog__play-list ul li:hover {
        background: var(--background-hover); }

.xlx-dialog-comfirm__film-name {
  padding: 5px;
  background: #f5f5f5;
  border-radius: 4px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; }

.td-dialog-comfirm__title {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; }

.td-dialog-comfirm__text {
  color: #999; }

/*  书签 */
.xlx-dialog__bookmarks-add .xlx-dialog__bookmarks-add-item {
  display: flex;
  margin-bottom: 20px; }
.xlx-dialog__bookmarks-add .td-input, .xlx-dialog__bookmarks-add .td-select {
  display: flex;
  width: 100%; }
.xlx-dialog__bookmarks-add .td-input__label {
  width: 45px;
  line-height: 30px; }
.xlx-dialog__bookmarks-add .td-input__inner, .xlx-dialog__bookmarks-add .td-select-group {
  flex: 1; }
.xlx-dialog__bookmarks-add .td-select-group {
  height: 30px; }
.xlx-dialog__bookmarks-add .td-dropdown-menu {
  padding-bottom: 40px; }
.xlx-dialog__bookmarks-add .td-tree-node__image-icon {
  margin: 0 0 0 6px; }
.xlx-dialog__bookmarks-add .td-tree-node__expand-icon {
  margin: 0 -3px 0 3px; }
.xlx-dialog__bookmarks-add .td-tree {
  margin: 0 2px 0 5px;
  max-height: 210px;
  overflow-y: auto; }
  .xlx-dialog__bookmarks-add .td-tree::-webkit-scrollbar {
    width: 4px; }
    .xlx-dialog__bookmarks-add .td-tree::-webkit-scrollbar:horizontal {
      height: 4px; }
    .xlx-dialog__bookmarks-add .td-tree::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 4px;
      background: #e6e6e6; }
    .xlx-dialog__bookmarks-add .td-tree::-webkit-scrollbar-corner {
      background: #fff; }
    .xlx-dialog__bookmarks-add .td-tree::-webkit-scrollbar-track {
      background: #fff; }
      .xlx-dialog__bookmarks-add .td-tree::-webkit-scrollbar-track-piece {
        background: #fff;
        width: 4px; }
  .xlx-dialog__bookmarks-add .td-tree .td-input {
    width: 160px;
    flex: none;
    margin-left: 5px; }
  .xlx-dialog__bookmarks-add .td-tree .td-input__inner {
    width: 100%;
    flex: none; }
.xlx-dialog__bookmarks-add .td-tree-node__content {
  height: 30px;
  border-radius: 4px;
  color: var(--color-default); }
.xlx-dialog__bookmarks-add .td-select-group__label .xlx-icon-fav {
  margin-right: 3px; }

.xlx-dialog__bookmarks-list {
  position: relative;
  width: calc(100% - 45px);
  max-height: 277px;
  padding: 5px 0 40px;
  border: solid 1px var(--input-border-color);
  border-radius: 4px; }

.xlx-dialog__bookmarks-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-left: 28px;
  line-height: 40px;
  color: var(--color-default);
  background: var(--background-hover);
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  transition: .2s; }
  .xlx-dialog__bookmarks-link:hover {
    color: var(--color-default);
    background: #d7e3fa; }

.xlx-dialog__bookmarks-from ul {
  display: flex; }
.xlx-dialog__bookmarks-from .xlx-dialog__bookmarks-from-item {
  text-align: center; }
  .xlx-dialog__bookmarks-from .xlx-dialog__bookmarks-from-item a {
    display: block;
    width: 100px;
    height: 82px;
    padding-top: 14px;
    border-radius: 4px;
    box-sizing: border-box; }
    .xlx-dialog__bookmarks-from .xlx-dialog__bookmarks-from-item a:hover {
      background: var(--background-hover); }
  .xlx-dialog__bookmarks-from .xlx-dialog__bookmarks-from-item.is-chosen a {
    background: #eaedf5; }
  .xlx-dialog__bookmarks-from .xlx-dialog__bookmarks-from-item p {
    margin-top: 5px;
    color: var(--color-primary); }

/* 计划任务 */
.xlx-dialog-plan .xlx-dialog-plan__time {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
.xlx-dialog-plan .td-input {
  margin-right: 5px; }
.xlx-dialog-plan .td-input__inner {
  width: 38px; }
.xlx-dialog-plan .td-select {
  width: 116px;
  margin-left: 34px; }
.xlx-dialog-plan .td-select-group {
  height: 30px; }
.xlx-dialog-plan .td-button {
  width: 30px;
  height: 30px;
  margin-left: 20px; }
.xlx-dialog-plan .xlx-dialog-setting__text {
  margin-right: 10px; }
.xlx-dialog-plan .xlx-dialog-plan__result-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  .xlx-dialog-plan .xlx-dialog-plan__result-item .td-icon-close {
    color: var(--color-danger-1); }
.xlx-dialog-plan .xlx-dialog-plan__text {
  width: 290px;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  background: #f5f5f5;
  border-radius: 4px;
  box-sizing: border-box; }
  .xlx-dialog-plan .xlx-dialog-plan__text span {
    margin-right: 10px; }
  .xlx-dialog-plan .xlx-dialog-plan__text .xlx-dialog-plan__text-time {
    color: var(--color-primary); }

/* 下载完成 */
.td-dialog__header .xlx-dialog__title {
  padding: 10px 0 10px;
  font-size: 12px;
  text-align: left;
  text-indent: -1em; }

.xlx-dialog-finish {
  display: block;
  border: solid 1px var(--color-primary);
  border-radius: 4px; }
  .xlx-dialog-finish:hover {
    background: var(--background-hover); }
  .xlx-dialog-finish .xlx-dialog-finish__title {
    display: flex;
    align-items: center;
    margin: 8px; }
  .xlx-dialog-finish .xlx-dialog-finish__file-name {
    max-width: 280px;
    margin-left: 8px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical; }
  .xlx-dialog-finish .xlx-dialog-finish__operate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin: 0 8px;
    text-align: center;
    color: var(--color-primary);
    font-size: 14px;
    border-top: dashed 1px #ccc; }
    .xlx-dialog-finish .xlx-dialog-finish__operate span {
      margin-left: 5px;
      margin-bottom: 2px; }

/* secret */
.td-dialog-secret__setting li {
  position: relative;
  margin-bottom: 20px; }
.td-dialog-secret__setting .td-input {
  display: flex;
  align-items: center; }
.td-dialog-secret__setting .td-input__inner {
  flex: 1; }
.td-dialog-secret__setting .td-dialog-secret__tips {
  margin-bottom: 20px; }
.td-dialog-secret__setting .td-dialog-secret__code {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 30px;
  color: var(--color-primary); }
  .td-dialog-secret__setting .td-dialog-secret__code:hover {
    color: var(--color-primary-hover); }
  .td-dialog-secret__setting .td-dialog-secret__code:before {
    width: 1px;
    height: 16px;
    margin-right: 10px;
    background: #ccc;
    content: ""; }

.td-dialog-secret__link {
  margin-top: -10px;
  text-align: right; }
  .td-dialog-secret__link a {
    color: var(--color-primary); }
    .td-dialog-secret__link a:hover {
      color: var(--color-primary-hover); }

/* skin */
.td-dialog.xlx-skin {
  width: 600px;
  height: 440px;
  padding: 0 20px 0 30px; }
  .td-dialog.xlx-skin .td-tabs__title {
    font-size: 14px;
    border: 0; }
  .td-dialog.xlx-skin .td-tabs__item {
    width: 70px; }
  .td-dialog.xlx-skin .xlx-skin__title {
    font-size: 18px;
    justify-content: center; }
    .td-dialog.xlx-skin .xlx-skin__title .td-tabs__item {
      width: auto;
      margin: 0 15px; }
    .td-dialog.xlx-skin .xlx-skin__title .td-tabs__item.is-active {
      border: 0; }
  .td-dialog.xlx-skin .td-tabs__content {
    overflow: visible; }
  .td-dialog.xlx-skin .td-slider {
    position: absolute;
    bottom: 5px;
    left: 10px;
    justify-content: center;
    width: 40px;
    height: 162px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); }
    .td-dialog.xlx-skin .td-slider .td-slider__bar {
      width: 4px;
      height: 116px;
      background: linear-gradient(to bottom, black, rgba(208, 208, 208, 0.4));
      border-radius: 2px; }
    .td-dialog.xlx-skin .td-slider .td-slider__bar-inner {
      background: transparent; }

.xlx-skin-color ul {
  display: flex;
  margin-left: -4px; }
.xlx-skin-color .xlx-skin-color__item {
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 4px;
  background: #b8b8b8;
  border-radius: 2px; }
  .xlx-skin-color .xlx-skin-color__item.is-chosen:before {
    color: #fff;
    font-family: "thunder-icon" !important;
    font-size: 20px;
    content: "\e638"; }

.xlx-skin-picture {
  overflow-y: auto;
  width: 550px;
  height: 265px;
  margin-top: 7px; }
  .xlx-skin-picture::-webkit-scrollbar {
    width: 4px; }
    .xlx-skin-picture::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 4px;
      background: #e6e6e6; }
  .xlx-skin-picture ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px; }
  .xlx-skin-picture .xlx-skin-picture__item {
    position: relative;
    width: 130px;
    height: 80px;
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 3px;
    background-size: cover;
    background-position: center; }
    .xlx-skin-picture .xlx-skin-picture__item:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      opacity: 0;
      content: "";
      transition: .3s; }
    .xlx-skin-picture .xlx-skin-picture__item:hover:after {
      opacity: 1; }
    .xlx-skin-picture .xlx-skin-picture__item:hover .xlx-skin-picture__name {
      opacity: 1; }
    .xlx-skin-picture .xlx-skin-picture__item .xlx-skin-picture__name {
      position: relative;
      z-index: 1;
      line-height: 80px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      user-select: none;
      opacity: 0;
      transition: .3s; }
    .xlx-skin-picture .xlx-skin-picture__item.is-chosen:before {
      position: absolute;
      right: 2px;
      bottom: 2px;
      z-index: 2;
      width: 16px;
      height: 16px;
      overflow: hidden;
      text-align: center;
      color: var(--color-success-1);
      font-family: "thunder-icon" !important;
      font-size: 16px;
      background: #fff;
      border-radius: 50%;
      border: solid 1px #fff;
      content: "\e638"; }
    .xlx-skin-picture .xlx-skin-picture__item .xlx-skin__tag {
      position: absolute;
      left: 0;
      top: 0;
      width: 32px;
      height: 14px;
      text-align: center;
      line-height: 14px;
      color: #fff;
      background: var(--color-danger-2);
      border-radius: 0 0 3px 0; }

/*# sourceMappingURL=xlx-dialog.css.map */
