@charset "UTF-8";
/* scrollbar */
/* BEM */
/* var */
:root {
  --color-draglist-start:#ccc;
  /* 列表背景起始色 */
  --color-draglist-end:#ccc;
  /* 列表背景结束色 */
  --color-title-start:#ccc;
  /* 标题背景起始色 */
  --color-title-end:#ccc;
  /* 标题背景结束色 */
  --icon-color:linear-gradient(#3576ff, #a0a6fe);
  --icon-color-hover:linear-gradient(45deg,#a54dff,#2153fd);
  --color-side-auxiliary:rgba(0, 0, 0, 0.6); }

.xlx-side, .xlx-nav {
  width: 354px;
  user-select: none; }

.xlx-file-name {
  width: calc(100% - 60px);
  margin-bottom: 8px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; }

.td-draglist-item__icon {
  position: relative;
  background: transparent; }

.xlx-side-operate {
  position: absolute;
  top: 3px;
  left: 293px;
  display: flex;
  justify-content: flex-end;
  width: 56px; }
  .xlx-side-operate .xlx-side-operate__button {
    padding: 6px; }
    .xlx-side-operate .xlx-side-operate__button i {
      background-image: var(--icon-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: .2s; }
    .xlx-side-operate .xlx-side-operate__button:hover i {
      background-image: var(--icon-color-hover); }
    .xlx-side-operate .xlx-side-operate__button:active i {
      background-image: linear-gradient(45deg, #bf15d3, #0207df); }

.xlx-file-info {
  position: relative;
  display: flex;
  margin-top: 5px;
  font-size: 11px;
  line-height: 15px;
  color: var(--color-sub); }
  .xlx-file-info .xlx-file-num {
    color: var(--color-primary); }
  .xlx-file-info .xlx-file-status {
    position: absolute;
    top: 0;
    right: 0; }
  .xlx-file-info .xlx-file-percent {
    position: absolute;
    left: 126px; }
  .xlx-file-info .xlx-file-time {
    position: absolute;
    left: 104px; }
  .xlx-file-info .xlx-file-speed {
    position: absolute;
    right: 0; }
    .xlx-file-info .xlx-file-speed .xlx-file-speed__vip {
      color: var(--color-primary); }
      .xlx-file-info .xlx-file-speed .xlx-file-speed__vip.is-super {
        padding: 0 2px;
        color: #b77020;
        background: #f3d283;
        border-radius: 2px; }
    .xlx-file-info .xlx-file-speed .xlx-file-speed__vip-link {
      color: var(--color-primary);
      margin-left: 5px; }
      .xlx-file-info .xlx-file-speed .xlx-file-speed__vip-link:hover {
        color: var(--color-primary-hover); }
  .xlx-file-info .xlx-file-error {
    color: var(--color-danger-1); }

/* 组队加速 */
.xlx-accelerate {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 0; }
  .xlx-accelerate .xlx-accelerate__gif {
    position: absolute; }
  .xlx-accelerate .xlx-accelerate__link {
    color: var(--color-primary); }

.xlx-side-ad {
  display: flex;
  align-items: center;
  height: 36px;
  margin-left: -14px; }
  .xlx-side-ad .xlx-side-ad__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; }

.xlx-side:hover .td-collapse-item__title {
  background-image: var(--background-side-title); }
.xlx-side .td-collapse-item {
  border: 0;
  outline: none; }
  .xlx-side .td-collapse-item.is-active .td-collapse-item__title {
    background: transparent; }
    .xlx-side .td-collapse-item.is-active .td-collapse-item__title:hover {
      color: var(--color-primary);
      background: transparent; }
  .xlx-side .td-collapse-item.is-active .td-collapse-item__content {
    height: calc(100vh - 260px);
    overflow-y: auto;
    padding: 0; }
    .xlx-side .td-collapse-item.is-active .td-collapse-item__content::-webkit-scrollbar {
      width: 4px; }
      .xlx-side .td-collapse-item.is-active .td-collapse-item__content::-webkit-scrollbar:horizontal {
        height: 4px; }
      .xlx-side .td-collapse-item.is-active .td-collapse-item__content::-webkit-scrollbar-thumb {
        border-radius: 2px;
        width: 4px;
        background: #e6e6e6; }
      .xlx-side .td-collapse-item.is-active .td-collapse-item__content::-webkit-scrollbar-corner {
        background: #fff; }
      .xlx-side .td-collapse-item.is-active .td-collapse-item__content::-webkit-scrollbar-track {
        background: #fff; }
        .xlx-side .td-collapse-item.is-active .td-collapse-item__content::-webkit-scrollbar-track-piece {
          background: #fff;
          width: 4px; }
  .xlx-side .td-collapse-item .td-collapse-item__title {
    padding-left: 7px;
    margin: 5px 7px;
    border-radius: 4px; }
    .xlx-side .td-collapse-item .td-collapse-item__title:hover {
      color: var(--color-default);
      background-image: linear-gradient(to right, var(--draglist-color-hover), rgba(15, 156, 255, 0.2));
      background-image: var(--background-side-title-hover); }
.xlx-side .td-draglist-item {
  position: relative;
  padding-right: 10px;
  margin-bottom: 1px;
  flex-wrap: wrap; }
  .xlx-side .td-draglist-item:hover {
    background-color: transparent;
    background-image: var(--background-item-hover); }
  .xlx-side .td-draglist-item.is-active {
    background-color: transparent;
    background-image: var(--background-item); }
    .xlx-side .td-draglist-item.is-active:after {
      position: absolute;
      top: 0;
      right: -22px;
      width: 22px;
      height: 100%;
      background: rgba(15, 156, 255, 0.2);
      clip-path: polygon(0 0%, 100% 48%, 100% 52%, 0% 100%);
      content: ""; }
    .xlx-side .td-draglist-item.is-active .xlx-side-completed__mark {
      display: block !important; }
  .xlx-side .td-draglist-item.is-chosen {
    background-color: transparent;
    background-image: var(--background-item-hover); }
    .xlx-side .td-draglist-item.is-chosen .xlx-side-completed__mark {
      display: block !important; }
  .xlx-side .td-draglist-item.is-deleted .xlx-file-name, .xlx-side .td-draglist-item.is-deleted .xlx-file-info {
    opacity: .5; }
  .xlx-side .td-draglist-item.is-deleted .td-media__object {
    position: relative;
    opacity: .6; }
    .xlx-side .td-draglist-item.is-deleted .td-media__object:after {
      position: absolute;
      right: 0;
      bottom: -2px;
      font-family: "xlx-icon" !important;
      font-size: 16px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px var(--color-default);
      opacity: .8;
      content: "\e62a"; }
  .xlx-side .td-draglist-item.is-opened .xlx-file-name {
    font-weight: normal; }
  .xlx-side .td-draglist-item.is-opened .xlx-side-completed__mark {
    display: none; }
    .xlx-side .td-draglist-item.is-opened .xlx-side-completed__mark:before {
      background-color: var(--color-primary-gray-1); }
    .xlx-side .td-draglist-item.is-opened .xlx-side-completed__mark:after {
      border-color: var(--color-primary-gray-1); }
  .xlx-side .td-draglist-item.is-opened:hover .xlx-side-completed__mark {
    display: block; }
.xlx-side .td-draglist-item__content {
  width: 280px;
  flex: none; }
.xlx-side .td-progress.is-super .td-progress-bar {
  position: relative; }
.xlx-side .td-progress.is-super .xlx-icon-rocket {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 14px;
  height: 8px;
  background: url(../img/plugin/rocket.png) no-repeat;
  background-size: 14px auto; }
.xlx-side .td-progress.is-super .td-progress-bar__inner {
  background: #FFA200;
  position: relative; }
.xlx-side .td-progress-bar__outer {
  background: rgba(0, 0, 0, 0.1); }

.xlx-client-side.is-secret .xlx-nav-operate i, .xlx-client-side.is-secret .xlx-side-operate .xlx-side-operate__button i {
  background-image: linear-gradient(#000, #c3c3c3); }

/* 导航 */
.xlx-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px; }

.xlx-nav-operate {
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center; }
  .xlx-nav-operate.is-disabled {
    opacity: .3; }
  .xlx-nav-operate i {
    font-size: 24px;
    background-image: var(--icon-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s; }
  .xlx-nav-operate:hover i {
    background-image: var(--icon-color-hover); }
  .xlx-nav-operate:hover .xlx-icon-nav-vip {
    background-image: linear-gradient(to right, #fe31c9, #fe1839); }
  .xlx-nav-operate:active i {
    background-image: linear-gradient(45deg, #bf15d3, #0207df); }
  .xlx-nav-operate:active .xlx-icon-nav-vip {
    background-image: linear-gradient(to right, #eb01b1, #e40127); }
  .xlx-nav-operate .xlx-icon-nav-vip {
    background-image: linear-gradient(to right, #ff71d8, #ff6078) !important; }

.xlx-drag-area {
  position: absolute;
  background: var(--background-drag);
  border: solid 1px var(--border-drag); }

.xlx-side-completed .xlx-file-name {
  font-weight: bold; }
.xlx-side-completed .xlx-side-completed__mark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 22px;
  height: 100%; }
  .xlx-side-completed .xlx-side-completed__mark:before {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 5px;
    height: 5px;
    background-color: var(--color-primary);
    border-radius: 50%;
    content: ""; }
  .xlx-side-completed .xlx-side-completed__mark:after {
    position: absolute;
    top: 18px;
    left: 3px;
    width: 7px;
    height: 7px;
    border: solid 1px var(--color-primary);
    border-radius: 50%;
    content: "";
    transform: scale(0);
    opacity: 0;
    transition: .1s; }
  .xlx-side-completed .xlx-side-completed__mark:hover:after {
    transform: scale(1);
    opacity: 1; }
.xlx-side-completed .xlx-file-num {
  position: absolute;
  right: 0; }

.xlx-side__empty {
  text-align: center; }
  .xlx-side__empty h3 {
    margin-top: 20px;
    font-size: 18px; }
  .xlx-side__empty p {
    line-height: 30px;
    font-size: 16px;
    color: #a9c4db; }
  .xlx-side__empty .td-button {
    margin-top: 60px;
    width: 138px; }
  .xlx-side__empty .xlx-side__empty-text {
    font-size: 14px;
    color: #999; }

[class^="xlx-icon-empty"] {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url(../img/spr-empty.png) no-repeat;
  background-size: 150px auto; }

.xlx-icon-empty-finish {
  background-position: 0 0; }

.xlx-icon-empty-down {
  background-position: 0 -300px; }

.xlx-icon-empty-dustbin {
  background-position: 0 -150px; }

.xlx-icon-empty-secret {
  width: 83px;
  height: 85px;
  margin-top: 80px;
  background-position: 0 -450px; }

/* 搜索下载记录 */
.xlx-search-record {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 2;
  width: 340px;
  height: 36px;
  line-height: 36px;
  background: #e6e6e6;
  border-radius: 18px; }
  .xlx-search-record .td-input__inner {
    width: 300px;
    height: 34px;
    padding-left: 15px;
    background: transparent;
    border: 0; }
    .xlx-search-record .td-input__inner::-webkit-input-placeholder {
      color: #808080; }
  .xlx-search-record .xlx-search-record__result {
    position: absolute;
    top: 0;
    right: 40px;
    color: #808080; }
    .xlx-search-record .xlx-search-record__result span {
      color: var(--color-danger-1); }
  .xlx-search-record .xlx-search-record__clear {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    top: 3px;
    right: 5px; }
    .xlx-search-record .xlx-search-record__clear.is-danger {
      color: var(--color-danger-1); }

/*# sourceMappingURL=xlx-side.css.map */
