/*--------------------------------------------------------------------
Version: 1.0.1
Author: qujianrong/luoyongqin
Email: luoyongqin@xunlei.com
Last Modified by: luoyongqin
Last Modified time:	2016-10-17
---------------------------------------------------------------------*/

html,button,input,optgroup,select,textarea {font: 16px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif; -webkit-text-size-adjust: 100%;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dd,dl,th,input,button,optgroup,select,textarea,fieldset,figure{margin: 0; padding: 0; font-weight: normal; font-size: 100%; color: inherit;}
article,aside,footer,header,nav,section,figcaption,figure,main,details,menu,canvas{display:block}
hr{-webkit-box-sizing: content-box;box-sizing: content-box; height: 0; overflow: visible;}
code,kbd,pre,samp{font-family:monospace; font-size:1em;}
a{background-color:transparent;}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom: none; text-decoration: underline;}
dfn{font-style:italic;}
mark{background-color: none;}
small{font-size: 80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
audio,progress,video{display:inline-block;vertical-align: baseline;}
audio:not([controls]),[hidden],template{display: none; height: 0;}
img{border: 0;}
svg:not(:root) {overflow: hidden;}
button,input { overflow: visible;}
button,select {text-transform: none;}
button,html [type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner{border-style: none; padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring{outline: 1px dotted ButtonText;}
fieldset{border: none;}
legend {-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
textarea{overflow: auto; resize: none;}
[type="checkbox"],[type="radio"] {-webkit-box-sizing: border-box;box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}
/*modified at 2017-06-20 by guoshengli*/
/*.input{-webkit-appearance: none;}容易导致旧页面单复选框样式缺失，改成.input[type="text"]*/
input[type="text"],textarea,[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
summary{display: list-item;}
table {border-spacing: 0;}
ul,ol{list-style: none;}

input[type="text"],input[type="tel"],a{-webkit-tap-highlight-color: transparent;}
input::-moz-placeholder, textarea::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input::placeholder, textarea::placeholder { color: #ccc; }

/* modified at 2017-03-22 by lungin */
/* 据不完全统计，.hide类名设置的隐藏样式使用率在各页面中使用概率为80% */
.hide{position: absolute; left: -10000px;}

/* modified at 2017-03-31 by lungin */
/*
   去掉了table{border-collapse: collapse;} 属性，因其会导致td/th设置背景色是，IE浏览器下border无效
*/
/* 清除浮动需要用到的地方很多，已经形成了统一意识，因此加入reset */
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;zoom:1;}
.clearfix{*zoom:1;}

/* modified at 2017-05-10 by lungin */
/* 去掉了input，textarea在IOS中的阴影样式 */
