html{
	font-size: 13.3333vw;
}
@media screen and (min-width: 750px) {
    html{font-size: 100px;}
}
body{
	max-width: 750px;
    margin: 0 auto;
	background-color: #00a8ff;
}
body:before{ content:"caihuiting,qishifeng,20180726"; display: none; }
.txt-hide{ height:1px; line-height:40; overflow:hidden;}
.wrap{ line-height: 1; width: 7.5rem; overflow:hidden; background: url(../img/bg.jpg) no-repeat top center; background-size: 7.5rem auto;}
.wrap a{ text-decoration: none; }
.wp-footer{ height: 1.56rem; color: #0173ff; font-size: 0.24rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.fc-red{ font-weight: normal; color: #f53340; }
.fc-yel{ font-weight: normal; color: #faff4b; }
.fc-org{ font-weight: normal; color: #ff8a00; }

.btn:hover{ text-decoration: none; }
.wp{ margin: 0 auto; position: relative; z-index: 2; }
.wp01{ width: 7.5rem; overflow:hidden; }
.wp .head-wp{ text-align: center; }
.wp .head-wp h3{ font-size: 0.3rem; font-weight: bold; color: #fff; }
.wp .head-wp p{ color: #8dfeff; font-size: 0.24rem; margin-top: 0.14rem; }
.wp02 .head-wp{ padding-top: 0.62rem; padding-bottom: 0.33rem;}
.wp-rule .head-wp{ padding-top: 0.39rem; padding-bottom: 0.34rem; }
.main-store{ font-size: 0; padding: 0 .4rem;}
.wp-icecake{ font-size: .22rem; padding: .42rem 0.39rem 0; height: 2.22rem; text-align: center; vertical-align: top; width: 5.9rem;  }
.wp-icecake .tit-icecake{ font-size: 0.26rem; font-weight: bold; color: #faff4b; }
.wp-icecake .num-icecake{ padding-top: 0.3rem; height: 0.45rem; line-height: 0.45rem; color: #faff4b; font-size: 0.26rem; font-weight: bold; }
.wp-icecake .num-icecake strong{ font-family: 'Arial'; font-size: 0.6rem; font-weight: normal; vertical-align: -0.03rem; margin-right: 0.05rem; } 
.wp-icecake .link-icecake{ color: #faff4b; line-height: 16px; }
.wp-icecake a.link-icecake:active{ text-decoration: underline; }
.wp-icecake .bot-icecake{ color: #fff; margin: 0.3rem auto 0; border-top: 1px dashed #44ccfc; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 0.81rem }
.list-store{ width: 6.7rem; margin-top: 0.29rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;}
.list-store li{ text-align: center; font-size: 0.2rem; display: inline-block; width: 3.25rem; height: 3.88rem; padding-top: 0.32rem; vertical-align: middle; overflow: hidden; margin-bottom: 0.27rem;}
.list-store li .tit-store{ color: #faff4b; font-size: 0.26rem; margin-bottom: 0.3rem; font-weight: bold; }
.wp-award02{ width: 2.59rem; height: 1.54rem; margin: 0 auto; }
.wp-award02 img{ width: 100%; height: 100%; }
.list-store li .super-value{ margin-top: 0.25rem; margin-bottom: 0.13rem; font-size: 0.24rem; color: #fff; }
.list-store li .super-value strong{ font-weight: normal; color: #faff4b; }
.list-store li .origin-value{ color: #bceaff; font-size: 0.2rem; text-decoration: line-through; }
.btn05{ background: #ffbd29; background: -webkit-gradient(linear,left top, left bottom,from(#ffbd29),to(#fc7509)); background: -webkit-linear-gradient(top,#ffbd29,#fc7509); background: -o-linear-gradient(top,#ffbd29,#fc7509); background: linear-gradient(to bottom,#ffbd29,#fc7509); width: 1.8rem; height: 0.55rem; line-height: 0.55rem; border-radius: 0.55rem; text-align: center; display: block; margin: 0.2rem auto 0; color: #fff; font-size: 0.25rem; }
.btn05:active{ background: #ffca29; background: -webkit-gradient(linear,left top, left bottom,from(#ffca29),to(#fc8109)); background: -webkit-linear-gradient(top,#ffca29,#fc8109); background: -o-linear-gradient(top,#ffca29,#fc8109); background: linear-gradient(to bottom,#ffca29,#fc8109); }
.btn05.disabled{ background: #04d9ff; color: #0389d6; cursor: not-allowed; }
.main-rule{ padding: 0.23rem 0.4rem 0; height: 11.16rem; }
.main-rule .list-rule{ line-height:  0.45rem; color: #fff; list-style: decimal; font-size: 0.24rem; padding: 0 .45rem 0 .72rem;}
.main-rule .list-rule li{ position: relative; }

.main-rule .list-rule .link-rule{ color: #fffd59; }
.wp01 .icon-tip{ position: absolute; top: 0; background-image: url(../img/spr-main.png?1532916570090); background-position: 0rem -5.46rem; background-repeat: no-repeat; background-size: 9.37rem auto; width: 1.71rem; height: 1.56rem; left: 2.98rem; z-index: 10;}
.main-icebox{ position: relative; }
.icebox01{ position: relative; height: 677px;}
.banner{ padding-top: 1.49rem; text-align: center; }
.banner .tit-ban{ position: relative; z-index: 2; background-image: url(../img/spr-main.png?1532916570090); background-position: 0rem -3.36rem; background-repeat: no-repeat; background-size: 9.37rem auto; width: 5.45rem; height: 1.22rem; margin: 0 auto; }
.banner .tip-ban{ font-weight: bold; padding-top: 0.12rem; height: 0.66rem; background-image: url(../img/spr-main.png?1532916570090); background-position: 0rem -4.63rem; background-repeat: no-repeat; background-size: 9.37rem auto; line-height: 0.66rem; color: #0492ff; font-size: 0.35rem; margin: -.15rem auto 0; width: 5.61rem; }
.wp-welfare{ margin-top: 0.39rem; text-align: center; }
.wp-welfare .item-welfare{ position: relative; display: block; width: 4.66rem; height: 3rem; padding-top: 0.31rem; text-align: center; margin: 0 auto;}
.wp-welfare .item-welfare.item-welfare01{ color: #b45f03; background-image: url(../img/spr-main.png?1532916570090); background-position: 0rem 0rem; background-repeat: no-repeat; background-size: 9.37rem auto; }
.wp-welfare .item-welfare.item-welfare02{ background-image: url(../img/spr-main.png?1532916570090); background-position: -4.71rem 0rem; background-repeat: no-repeat; background-size: 9.37rem auto; margin-top: .36rem;}
.wp-welfare .item-welfare .tit{ font-size: 0.3rem; font-weight: bold; padding: 0.42rem 0 0.13rem;}
.wp-welfare .item-welfare .tit strong{ font-weight: bold; }
.wp-welfare .item-welfare .tip{ color: #d37210; font-size: 0.24rem; }
.wp-welfare .item-welfare .btn{ -webkit-box-sizing: border-box; box-sizing: border-box; width: 2.8rem; height: 0.7rem; line-height: 0.7rem; text-align: center; display: block; margin: 0.39rem auto 0; color: #fff; font-size: 0.3rem; border-radius: .7rem; text-decoration: none; }
.wp-welfare .item-welfare .btn.btn01{ background: #fe434f; background: -webkit-gradient(linear,left top, left bottom,from(#fe434f),to(#ed2734)); background: -webkit-linear-gradient(top,#fe434f,#ed2734); background: -o-linear-gradient(top,#fe434f,#ed2734); background: linear-gradient(to bottom,#fe434f,#ed2734); }
.wp-welfare .item-welfare .btn.btn01:active{ background: #fe535e; background: -webkit-gradient(linear,left top, left bottom,from(#fe535e),to(#fd2c39)); background: -webkit-linear-gradient(top,#fe535e,#fd2c39); background: -o-linear-gradient(top,#fe535e,#fd2c39); background: linear-gradient(to bottom,#fe535e,#fd2c39); }
.wp-welfare .item-welfare .btn.btn02{ line-height: .68rem; color: #faff4b; border: 1px solid #faff4b; }
.wp-welfare .item-welfare .btn.btn02:active{ line-height: .7rem; border: none; background: #ffca29; background: -webkit-gradient(linear,left top, left bottom,from(#ffca29),to(#fc8109)); background: -webkit-linear-gradient(top,#ffca29,#fc8109); background: -o-linear-gradient(top,#ffca29,#fc8109); background: linear-gradient(to bottom,#ffca29,#fc8109); color: #fff; }
.wp-welfare .item-welfare .tip-btn{ font-size: 0.22rem; margin-top: 0.15rem; }
.wp-welfare .item-welfare.item-welfare02,.wp-welfare .item-welfare.item-welfare02 .tip{ color: #c8ebff; }
.wp-welfare .item-welfare.item-welfare02 .tit{ color: #fff; }
.wp-welfare .item-welfare .mark-low{ position: absolute; padding-top: 16px; height: 47px; background: url(../img/slice/main/mark.png) no-repeat; width: 59px; color: #ff5a1a; font-size: 16px; font-weight: bold; line-height: 17px; right: 27px; bottom: -1px;}
.icebox02{ position: relative; width: 4.71rem; height: 8.37rem; padding-top: 0.3rem; background-image: url(../img/spr-icebox.png?1532916570090); background-position: 0rem 0rem; background-repeat: no-repeat; background-size: 12.75rem auto; margin: 0.46rem auto 0; }

.head-icebox02{ padding-top: 0.44rem; text-align: center;}
.head-icebox02 .tit-icebox02{ width: 2.94rem; height: 0.35rem; background-image: url(../img/spr-main.png?1532916570090); background-position: -5.5rem -4.07rem; background-repeat: no-repeat; background-size: 9.37rem auto; display: block; margin: 0 auto 0.18rem;}
.head-icebox02 p{ background-image: url(../img/spr-main.png?1532916570090); background-position: -5.5rem -3.36rem; background-repeat: no-repeat; background-size: 9.37rem auto; width: 3.67rem; color: #6fb3cc; font-size: 0.24rem; margin: 0 auto 0.44rem; height: 0.49rem; line-height: .49rem; padding: 0.09rem 0 0.08rem; }
.btn03{ width: 2.62rem; padding-top: 0.12rem; height: 0.65rem; line-height: 0.65rem; font-size: 0.3rem; text-align: center; text-decoration: none; color: #fff; background-image: url(../img/spr-main.png?1532916570090); background-position: -1.76rem -5.46rem; background-repeat: no-repeat; background-size: 9.37rem auto; display: block; margin: 0 auto; margin: .4rem auto 0; }
.tip-btn03{ font-size: 0.24rem; color: #6fb3cc; margin-top: 0.17rem; text-align: center; }
.tip-btn03 a{ text-decoration: none; }
.tip-btn03 a:active{ text-decoration: underline; }
.wp-game .list-game{ text-align: center; font-size: 0; height: 4.2rem; }
.wp-game .list-game li{ display: inline-block; vertical-align: top; margin:0 0.15rem .44rem; }
.wp-game .list-game li .img-award01{ position: relative; height: 1.59rem; width: auto;}
.wp-game .list-game li .img-award01 img{ width: auto; height: 100%; }
.wp-game .list-game li .img-award01 .num-rb{ position: absolute; left: 0; top: 0.38rem; width: 100%; font-size: 0.18rem; font-weight: bold; color: #ffd55b; }
.wp-game .list-game li .img-award01 .num-rb em{ font-style: normal; font-size: 0.22rem; font-weight: bold; vertical-align: -0.02rem; }
.wp-game .list-game li .tit-award01{ margin-bottom: 0.08rem; color: #ff8a00; font-size: 0.22rem; font-weight: bold; }
.wp-price{ font-size: 0; padding: .25rem 0.8rem; margin-top: 0.33rem; }
.wp-price .wp-list-price{ overflow: hidden; display: inline-block; width: 3.92rem; position: relative; height: 0.56rem; }
.wp-price .btn04{ -webkit-box-sizing: border-box; box-sizing: border-box; color: #faff4b; font-size: 0.22rem; float: right; width: 1.98rem; height: 0.56rem; line-height: 0.56rem; display: inline-block; border-left: 1px solid #04c4ff; text-align: right; text-decoration: none; }
.wp-price a.btn04:active{ text-decoration: underline; }
.wp-price .wp-list-price .list-price{ position: absolute; left: 0; top: 0px; }
.list-price li{ margin-bottom: 0.14rem; color: #fff; font-size: 0.22rem; }
.list-price li .uname{ display: inline-block; vertical-align: top; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; max-width: 0.68rem; }

.icebox01 .anmation{ -webkit-perspective: 10000px; perspective: 10000px; position: relative; z-index: 3; }
.icebox01 .anmation .door-left{ -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

.icebox02 .icon-door01{ -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 2; width: 2.44rem; height: 8.24rem; background-image: url(../img/spr-icebox.png?1532916570090); background-position: -4.76rem 0rem; background-repeat: no-repeat; background-size: 12.75rem auto; position: absolute; left: 0px; top: 0.24rem; -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; }
.icebox02 .icon-door02{ -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 2; width: 2.44rem; height: 8.24rem; background-image: url(../img/spr-icebox.png?1532916570090); background-position: -7.25rem 0rem; background-repeat: no-repeat; background-size: 12.75rem auto; position: absolute; right: 0px; top: .24rem; -webkit-transform-origin: right; -ms-transform-origin: right; transform-origin: right; }
.icebox02 .icon-door03{ -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 2; width: 1.48rem; height: 8.42rem; background-image: url(../img/spr-icebox.png?1532916570090); background-position: -11.27rem 0rem; background-repeat: no-repeat; background-size: 12.75rem auto; position: absolute; left: -1.4rem; top: .13rem; -webkit-transform-origin: right; -ms-transform-origin: right; transform-origin: right; z-index: -1;}
.icebox02 .icon-door04{ -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 2; width: 1.48rem; height: 8.44rem; background-image: url(../img/spr-icebox.png?1532916570090); background-position: -9.74rem 0rem; background-repeat: no-repeat; background-size: 12.75rem auto; position: absolute; right: -1.4rem; top: 0.13rem; -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; z-index: -1;}

.icebox02 .icon-door01{ -webkit-animation: l_rotate_none .5s .8s both ease-in-out; animation: l_rotate_none .5s .8s both ease-in-out; }
.icebox02 .icon-door02{ -webkit-animation: r_rotate_none .5s .8s both ease-in-out; animation: r_rotate_none .5s .8s both ease-in-out; }
.icebox02 .icon-door03{ -webkit-animation: l_rotate .5s .8s both ease-in-out; animation: l_rotate .5s .8s both ease-in-out; }
.icebox02 .icon-door04{ -webkit-animation: r_rotate .5s .8s both ease-in-out; animation: r_rotate .5s .8s both ease-in-out; }
.wp-anmation{ position: absolute; }
.left-anmation{ -webkit-animation: moveRight 3s 1.2s both ease-in-out; animation: moveRight 3s 1.2s both ease-in-out; background-image: url(../img/spr-bg.png?1532916570090); background-position: -2.62rem 0rem; background-repeat: no-repeat; background-size: 5.16rem auto; width: 2.54rem; height: 5.25rem; position: absolute; top: 6.18rem; left: -.01rem; z-index: 3;  }
.right-anmation{ -webkit-animation: moveLeft 3s 1.2s both ease-in-out; animation: moveLeft 3s 1.2s both ease-in-out; background-image: url(../img/spr-bg.png?1532916570091); background-position: 0rem 0rem; background-repeat: no-repeat; background-size: 5.16rem auto; width: 2.57rem; height: 5.41rem; position: absolute; top: 5.95rem; left: 5.72rem; z-index: 3; }

.icebox01 .icon-door03,.icebox01 .icon-door04,.icebox02 .icon-door03,.icebox02 .icon-door04{ opacity: 0; filter: alpha(opacity=0); }
.no_css3 .icebox01 .icon-door01,.no_css3 .icebox01 .icon-door02,.no_css3 .icebox02 .icon-door02,.no_css3 .icebox02 .icon-door01{ display: none; }
.no_css3 .icebox01 .icon-door03,.no_css3 .icebox01 .icon-door04,.no_css3 .icebox02 .icon-door03,.no_css3 .icebox02 .icon-door04{ opacity: 100; filter: alpha(opacity=100); }

.icebox02.closed .anmation .icon-door01{ -webkit-animation: l_rotate_none_01 1.5s both ease-in-out; animation: l_rotate_none_01 1.5s both ease-in-out; }
.icebox02.closed .anmation .icon-door02{ -webkit-animation: r_rotate_none_01 1.5s both ease-in-out; animation: r_rotate_none_01 1.5s both ease-in-out; }
.icebox02.closed .anmation .icon-door03{ -webkit-animation: l_rotate_01 1.5s both ease-in-out; animation: l_rotate_01 1.5s both ease-in-out; }
.icebox02.closed .anmation .icon-door04{ -webkit-animation: r_rotate_01 1.5s both ease-in-out; animation: r_rotate_01 1.5s both ease-in-out; }

#lottery li.show .img-award01{ -webkit-animation: bounceIn .8s 1s both ease-in-out; animation: bounceIn .8s 1s both ease-in-out; }
.banner .tit-ban{ -webkit-animation: scale .5s .3s both ease-in-out; animation: scale .5s .3s both ease-in-out; }
.banner .tip-ban{ -webkit-animation: scale .5s .6s both ease-in-out; animation: scale .5s .6s both ease-in-out; }
.wp-welfare .item-welfare01{ -webkit-animation: fadeIn .5s .8s both ease-in-out; animation: fadeIn .5s .8s both ease-in-out; }
.wp-welfare .item-welfare02{ -webkit-animation: fadeIn .5s 1s both ease-in-out; animation: fadeIn .5s 1s both ease-in-out; }

@-webkit-keyframes l_rotate_none{
	0%{ -webkit-transform: rotateY(0deg); }
	100%{ -webkit-transform: rotateY(-125deg); opacity: 0; }
}
@keyframes l_rotate_none{
	0%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
	100%{ -webkit-transform: rotateY(-125deg); transform: rotateY(-125deg); opacity: 0;}
}

@-webkit-keyframes l_rotate_none_01{
	0%{ -webkit-transform: rotateY(-125deg); opacity: 0; }
	50%,60%{ -webkit-transform: rotateY(0deg); opacity: 1;}
}
@keyframes l_rotate_none_01{
	0%{ -webkit-transform: rotateY(-125deg); transform: rotateY(-125deg); opacity: 0; }
	50%,60%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

@-webkit-keyframes r_rotate_none{
	0%{ -webkit-transform: rotateY(0deg); }
	100%{ -webkit-transform: rotateY(125deg); opacity: 0; }
}
@keyframes r_rotate_none{
	0%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
	100%{ -webkit-transform: rotateY(125deg); transform: rotateY(125deg); opacity: 0; }
}

@-webkit-keyframes r_rotate_none_01{
	0%{ -webkit-transform: rotateY(125deg); opacity: 0; }
	50%,60%{ -webkit-transform: rotateY(0deg); opacity: 1;}
}
@keyframes r_rotate_none_01{
	0%{ -webkit-transform: rotateY(125deg); transform: rotateY(125deg); opacity: 0; }
	50%,60%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

@-webkit-keyframes l_rotate{
	0%{ -webkit-transform: rotateY(180deg); opacity: 0;}
	100%{ -webkit-transform: rotateY(0deg); opacity: 1; }
}
@keyframes l_rotate{
	0%{ -webkit-transform: rotateY(180deg); transform: rotateY(180deg); opacity: 0; }
	100%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1;  }
}

@-webkit-keyframes l_rotate_01{
	0%{ -webkit-transform: rotateY(0deg); opacity: 1; z-index: 3;}
	50%,60%{ -webkit-transform: rotateY(180deg); opacity: 0; }
}
@keyframes l_rotate_01{
	0%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; z-index: 3; }
	50%,60%{ -webkit-transform: rotateY(180deg); transform: rotateY(180deg); opacity: 0;}
}

@-webkit-keyframes r_rotate{
	0%{ -webkit-transform: rotateY(-180deg); opacity: 0;}
	100%{ -webkit-transform: rotateY(0deg); opacity: 1;}
}
@keyframes r_rotate{
	0%{ -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); opacity: 0; }
	100%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

@-webkit-keyframes r_rotate_01{
	0%{ -webkit-transform: rotateY(0deg); opacity: 1; z-index: 3; }
	50%,60%{ -webkit-transform: rotateY(-180deg); opacity: 0;}
}
@keyframes r_rotate_01{
	0%{ -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; z-index: 3; }
	50%,60%{ -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); opacity: 0; }
}

@-webkit-keyframes moveRight{
	0%{ -webkit-transform: translateX(-0.5rem);  opacity: 0;}
	15%{ -webkit-transform: translateX(0rem);  opacity: 1;}
	30%{ -webkit-transform: translateX(-1rem);  opacity: 1;}
	65%{ -webkit-transform: translateX(0.3rem);  opacity: 1; }
	100%{ -webkit-transform: translateX(0rem);  opacity: 1;}
}
@keyframes moveRight{
	0%{ -webkit-transform: translateX(-0.5rem); transform: translateX(-0.5rem);  opacity: 0;}
	15%{ -webkit-transform: translateX(0rem); transform: translateX(0rem);  opacity: 1;}
	30%{ -webkit-transform: translateX(-1rem); transform: translateX(-1rem);  opacity: 1;}
	65%{ -webkit-transform: translateX(0.3rem);  opacity: 1; }
	100%{ -webkit-transform: translateX(0rem); transform: translateX(0rem);  opacity: 1;}
}
@-webkit-keyframes moveLeft{
	0%{ -webkit-transform: translateX(0.5rem);  opacity: 0;}
	15%{ -webkit-transform: translateX(0rem);  opacity: 1;}
	30%{ -webkit-transform: translateX(1.0rem);  opacity: 1;}
	65%{ -webkit-transform: translateX(-0.3rem);  opacity: 1; }
	100%{ -webkit-transform: translateX(0rem);  opacity: 1;}
}
@keyframes moveLeft{
	0%{ -webkit-transform: translateX(0.5rem); transform: translateX(0.5rem);  opacity: 0;}
	15%{ -webkit-transform: translateX(0rem); transform: translateX(0rem);  opacity: 1;}
	30%{ -webkit-transform: translateX(1.0rem); transform: translateX(1.0rem);  opacity: 1;}
	65%{  -webkit-transform: translateX(-0.3rem);  transform: translateX(-0.3rem);  opacity: 1; }
	100%{ -webkit-transform: translateX(0rem); transform: translateX(0rem);  opacity: 1;}
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes scale{
	0%{ -webkit-transform: scale(2); opacity: 0; }
	100%{ -webkit-transform: scale(1); opacity: 1; }
}
@keyframes scale{
	0%{ -webkit-transform: scale(2); transform: scale(2); opacity: 0; }
	100%{ -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@-webkit-keyframes fadeIn{
	0%{ -webkit-transform: translateY(1.0rem); opacity: 0; }
	100%{ -webkit-transform: translateY(0rem); opacity: 1; }
}
@keyframes fadeIn{
	0%{ -webkit-transform: translateY(1.0rem); transform: translateY(1.0rem); opacity: 0; }
	100%{ -webkit-transform: translateY(0rem); transform: translateY(0rem); opacity: 1; }
}

/* pop */
.cover{ background: #000; opacity: .5; filter:alpha(opacity=50); left: 0; top: 0; right: 0; bottom: 0; z-index: 100; position: fixed; }
.pop-act{ font-size: 0.26rem; position: fixed; left: 50%; top: 50%; width: 5.4rem; min-height: 2.6rem; border-radius: 0.08rem; margin: -2.75rem 0 0 -2.7rem; z-index: 101; position: fixed; background: #fff; }
.pop-act .btn-clo{ width: 0.7rem; height: 0.7rem; position: absolute; right: 0; top: 0; }
.pop-act .btn-clo:after{ content: ''; width: 0.3rem; height: 0.3rem; background: url(../img/clo.png) no-repeat; position: absolute; right: 0.2rem; top: 0.2rem; }
.pop-act .head-pop{ height: 0.92rem; -webkit-box-sizing: border-box; box-sizing: border-box; width: 4.18rem; margin: 0 auto; text-align: center; line-height: 0.92rem; color: #383838; font-size: 0.32rem; border-bottom: 1px dashed #dcdcdc; }
.pop-act .wp-record{ color: #383838; margin-left: 0.6rem; padding-bottom: 0.49rem; }
.pop-act .tit-record{ padding-top: 0.1rem; line-height: 0.62rem; color: #8b8b8b; font-size: 0.24rem;}
.pop-act .wp-record span{ display: inline-block; text-align: center;}
.pop-act .wp-record span.time{ width: 0.70rem; }
.pop-act .wp-record span.num{ width: 1.75rem; }
.pop-act .wp-record span.price{ width: 1.9rem; }
.pop-act .wp-record ul li span.price{ text-align: left; }
.pop-act .wp-record ul li span.num{ color: #db161d;}
.pop-act .wp-record .list-record li{ padding: 0.1rem 0; }
.pop-act .wp-record .list-record{ max-height: 3.36rem; width: 4.5rem; overflow-x: hidden; overflow-y:auto; }
.pop-act .wp-record .list-record::-webkit-scrollbar-track{ background-color: #fff; }
.pop-act .wp-record .list-record::-webkit-scrollbar{ width: 8px; height: 16px; background-color: #fff; }
.pop-act .wp-record .list-record::-webkit-scrollbar-thumb{ border-radius: 10px; background-color: #d2d2d2;}
.pop-act .wp-record .list-record::-webkit-scrollbar-thumb:hover{ background: #9a9a9a; }
.pop-act .wp-record ul li span.price em{ font-style: normal; max-width: 1.9rem; display: inline-block; vertical-align: top; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; }
.pop-act .wp-record .tip{ text-align: center; color: #8b8b8b; font-size: 0.26rem; padding-top: 0.68rem; width: 4.18rem; }